body {
    background-color: #f1ebe6;
}

.container {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.element {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    font-family: "TT Livret Text Trial";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    text-transform: uppercase;
    color: #282828;
    margin: 0;
    margin-right: 10px;
}

h5 {
    font-family: "TT Livret Text Trial";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    text-transform: uppercase;
    color: #282828;
    margin: 0;
    margin-left: 10px;
}

.nested-container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.element {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 90px;
}

p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    /* or 24px */

    color: #282828;
}

.header-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    /* or 20px */

    margin: 0;
    color: #1e1e1e;
}

h1 {
    font-family: "TT Livret Text Trial";
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    /* identical to box height, or 96px */

    text-transform: uppercase;

    color: #1e1e1e;
    margin: 0;
}

.divider {
    height: 1px;

    background: #000000;
    opacity: 0.3;
    width: 1200px;
}

h3 {
    font-family: "TT Livret Text Trial";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    /* identical to box height, or 36px */

    text-transform: uppercase;

    color: #1e1e1e;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
}

.header-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    /* or 20px */

    margin: 0;
    color: #1e1e1e;
}

.footer-quote {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    width: 500px;
    /* identical to box height, or 22px */

    text-transform: uppercase;

    color: #1e1e1e;
}

h2 {
    font-family: "TT Livret Text Trial";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    /* identical to box height, or 60px */

    text-transform: uppercase;

    color: #1e1e1e;
    margin: 0;
}

.slider {
    width: 100%;
    background-color: #f1ebe6;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.slider-inner {
    display: flex;
    flex-direction: column;
}

.slider-item {
    margin: 10px 0;
}

.slider-item a {
    text-decoration: none;
    color: #000;
}

.slider-item a:hover {
    color: #000;
    font-weight: bold;
}
